body {
    font-family: 'Raleway';
    text-align: center;
    font-weight: normal;
    background-color:sienna;
    color: rgb(242, 242, 242);
    margin: none;
    padding: none;
}

h5 {
    font-size: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 7%;
    text-shadow: 1px 1px 2px whitesmoke;;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 3%;
    color: rgb(55, 64, 38);
    text-shadow: 1px 1px 2px rgb(55, 64, 38);;
}

p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: rgb(55, 64, 38);
    font-weight: bold;
}

#weight1 {
    font-weight: normal;
}

#weight2 {
    font-weight: bold;
}

#style1 {
    font-weight: normal;
    font-style: normal;
}

#style2 {
    font-weight: normal;
    font-style: italic;
}

#letter1 {
    font-weight: normal;
    letter-spacing: normal;
}

#letter2 {
    font-weight: normal;
    letter-spacing: .3em;
}

#letter3 {
    font-weight: normal;
    letter-spacing: -.06em;
}

#transform1 {
    font-weight: normal;
    text-transform: none;
}

#transform2 {
    font-weight: normal;
    text-transform: uppercase;
}

#transform3 {
    font-weight: normal;
    text-transform: lowercase;
}

#transform4 {
    font-weight: normal;
    text-transform: capitalize;
}

#decoration1 {
    font-weight: normal;
    text-decoration: none;
}

#decoration2 {
    font-weight: normal;
    text-decoration: underline;
}

#decoration3 {
    font-weight: normal;
    text-decoration: line-through;
}

#decoration4 {
    font-weight: normal;
    text-decoration: overline;
}