body {
    font-family: 'Archivo Narrow', sans-serif;
    /* align-items: center; */
}

h1, h2, h3, h4, h5, p, body {
    margin: 0;
    /* align-items: center; */
}

.main {
    align-items: center;
    /* padding-bottom: 20%; */
}

#title {
    text-align: center;
    padding-top: 152px;
    padding-bottom: 184px;
    background-image: url(https://i.pinimg.com/474x/e2/b9/74/e2b974a376a7557dd78a7aad82d11e29.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#title > h1{
    font-size: 80px;
}

#title > h2 {
    font-size: 30px;
    padding-top: 0;
    line-height: 1.2;
}

div {
    align-items: center;
    padding-left: 18%;
    padding-right: 18%;
}

.section-title {
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 4.25%;
    padding-bottom: 3.4%;
}

#section2 {
    background-color: rgb(218, 197, 238);
    padding-bottom: 2.8%;
}

#section2 div p, li div p {
    line-height: 1.4;
    font-size: 18px;
    /* font-stretch: wider; */
    margin-bottom: 1.5%;
}

.square {
    /* visibility: hidden; */
    float: right;
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding-left: 4%;
    padding-bottom: 4%;
}


#section3 {
    background-color: rgb(188, 155, 219);
    padding-bottom: 1.6%;
}

.using-flex {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    /* width: 50%; */
}

li {
    width: 50%;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 2%;
    /* display: block; */
    
}

li > img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    padding-right: 0px;
    /* float: left; */
}

li > div {
    padding-left: 2%;
    padding-right: 10%;
    text-align: left;
    float: right;
    width: 46%;
}

li div h3 {
    font-size: 20px;
    padding-bottom: 4%;
}

#section4 {
    background-color: rgb(146, 174, 227);
    padding-bottom: 6.4%;
}

#section4 div h3 {
    padding-left: 13%;
    padding-right: 13%;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    font-stretch: wider;
    line-height: 1.4;
}

#section5 {
    background-color: aliceblue;
    padding-bottom: 3%;
}

#section5 div{
    padding-top: 2.9%;
    font-size: 1.1rem;
    line-height: 1.4;
}

